In [5]:
spark

# DataFrame

In [9]:
myRange = spark.range(1000).toDF("number")

위에 생성한 dataFrame은 한개의 컬럼과 1000개의 row로 구성되며 각 로우는 0~999값이 할당
이 숫자들은 분산 컬렉션을 나타내며 클러스터 모드에서 코드 예제를 실행하면 숫자범위의 각 부분이 서로 다른 익스큐터에 할당 됨.

In [11]:
myRange.show(5)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
+------+
only showing top 5 rows

잘 보면 엑셀의 스프레드 시트와 비슷한데, 스파크 DataFrame은 한대의 컴퓨터가 아닌 수천대의 컴퓨터에 분산되어 저장되어 있음.

![01](./img/01/img1.png)

> __[Note]__  
> DataFrame은 스파크에서만 사용하는 개념은 아님, 파이썬과 R 모두 비슷한 개념을 가지는데, 일반적으로 분산컴퓨터가 아닌 단일 컴퓨터에 존재함.
> 따라서, 이런경우에는 수행할 수 있는 작업이 해당 머신이 가진 자원에 따라 제한될 수밖에 없다.
> 스파크는 파이썬,R 모두 지원하기 때문에 파이썬 pandas의 dataframe과 R의 dataframe을 스파크 Dataframe으로 쉽게 변환 가능하다.

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
+------+
only showing top 20 rows

In [22]:
divisBy2 = myRange.where("number % 2 = 0")

In [21]:
divisBy2.show()
divisBy2.count()

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
|    20|
|    22|
|    24|
|    26|
|    28|
|    30|
|    32|
|    34|
|    36|
|    38|
+------+
only showing top 20 rows

500